<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.goldvaultmarket.com.goldvaultmarket">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration" />
        <activity android:name=".RegistrationContinue" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ReadMessage" />
        <activity android:name=".PaymentMethod" />
        <activity android:name=".ReferalProgram"></activity>
    </application>

</manifest>